
.app {
	padding: 75px 50px;
}

.h {
	display: flex;
	justify-content: flex-start;
	height: auto;
	padding: 50px 0;
}

.h-2 {
	margin-left: auto;
	width: 200px;
}

th, td {
	min-width: 100px;
}

.datagrid table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
.datagrid {font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.datagrid table td, .datagrid table th {
	padding: 10px 10px;
}

.datagrid table thead th {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
	background:-moz-linear-gradient(center top, #006699 5%, #00557F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	border-left: 0px solid #0070A8;
}

.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	height: 75px;
	color: #00557F;
	border-left: 10px solid #E1EEF4;
	font-size: 24px;
	font-weight: normal;
}


.datagrid table tbody .alt td {
	background: #E1EEF4;
	color: #00557F;
}

.datagrid table tbody td:first-child {
	border-left: none;
}

.datagrid table tbody tr:last-child td {
	border-bottom: none;
}

li {
	list-style: none;
}

li ul {
	margin-bottom: 16px;
}

li ul li {
	display: inline;
}

li ul li:after {
	content: ", ";
}

li ul li:last-child:after {
	content: "";
}

ul li div p {
	padding-left: 40px;
	margin-top: 0px;
}
